<div class="container border border-2 border-primary my-5 py-3 rounded-3">
  <div class="row align-items-lg-stretch position-relative ">
    <div class="col-12 col-md-4"><img [src]="posterPath" [alt]="posterAlt" class=""></div>
    <div class="col-12 col-md-8 d-flex flex-column">
      <h2 class="mt-auto">{{ movie.title }}</h2>
      <p>{{ movie.overview }}</p>
      <a [routerLink]="['/movies', movie.id]" class="link-primary fw-bold text-decoration-none ">👉​ Vai a scheda</a>
      <app-button class="mt-auto text-end" (btnClicked)="onGetRandomMovie()" title="Mostrami un altro film" />
    </div>
  </div>
</div>